* {
  box-sizing: border-box;
}

body {
  background-image: url("/src/img/mainBackground.jpg");
  overflow: hidden;
}

main {
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 30px;
}

.active-link {
  color: rgba(3, 130, 207, 1);
}

.container {
  display: flex;
  flex-direction: column;
}

.betNumbers {
  display: flex;
  justify-content: center;
}

.roulette {
  display: flex;
  justify-content: center;
}

.numbers {
  overflow: hidden;
  width: 1500px;
  height: 150px;
  background-color: #c2c2c2;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgb(255, 255, 255);
}

.numbers > ul {
  overflow: hidden;
  position: relative;
  left: 0;
  display: inline-flex;
  transition: left 3s ease;
}

.numbers > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}
