* {
  box-sizing: border-box;
}

body {
  background-image: url("./img/mainBackground.jpg");
  overflow: hidden;
}

main {
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 30px;
}

.active-link {
  color: gold;
}

.container {
}

.wheel {
  display: flex;
  justify-content: center;
}

.wheel__numbers {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  transition: 5s;
}

.arrow {
  color: gold;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%);
  font-size: 70px;
}

/* .arrow::before {
  content: "";

} */

#spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #000000;
  text-transform: uppercase;
  border: 2px solid #fff;
  font-weight: bold;
  font-size: 20px;
  width: 100px;
  height: 100px;
  color: white;
  font-family: sans-serif;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
}

.wheel__numbers div {
  height: 50%;
  width: 200px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: gold;
  left: 135px;
}

.wheel__numbers .one {
  left: 50%;
}
.wheel__numbers .two {
  transform: rotate(36.2deg);
}
.wheel__numbers .three {
  transform: rotate(72.4deg);
}
.wheel__numbers .four {
  transform: rotate(108.6deg);
}
.wheel__numbers .five {
  transform: rotate(144.8deg);
}
.wheel__numbers .six {
  transform: rotate(181deg);
}
.wheel__numbers .seven {
  transform: rotate(217.2deg);
}
.wheel__numbers .eight {
  transform: rotate(253.4deg);
}
.wheel__numbers .nine {
  transform: rotate(289.6deg);
}
.wheel__numbers .ten {
  transform: rotate(325.8deg);
}
